*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:Arial, sans-serif;
}

.header {
    background-color: rgb(58, 146, 229);
color: #fff;
padding: 20px;
text-align: center;
}

.main-content {
display:  flex;
flex: 1;
}

    .sidebar {
background-color: rgb(102, 194, 244);
color: #fff;
flex: 1;
padding: 20px;
min-width: 200px;
}

.content {
    background-color: #ecf0f1;
    flex: 3;
    padding: 20px;
}

.footer {
    background-color: rgb(143, 181, 238);
    color: #fff;
    text-align: center;
    padding: 15px;
}

@media ( max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .sidebar {
        min-width: auto;
    }
}